.my-time-control {
    -base-color: blue;
    -fx-background-color: white;
}

.my-time-control .editable-time-field {
    -fx-background-color: magenta;
}

.my-time-control:mandatory .editable-time-field {
    -fx-background-color: green;
}

.my-time-control:invalid .editable-time-field {
    -fx-background-color: red;
}

.my-time-control .caption-label {
    -fx-fill: pink;
}
.my-time-control .read-only-field{

}